/assets
/data
/saved
/outputs
/wandb

# PyCharm проектные файлы
.idea/

# Кэшированные файлы Python
__pycache__/

# Кэшированные файлы Python в src
src/__pycache__/
src/datasets/__pycache__/
src/logger/__pycache__/
src/loss/__pycache__/
src/metrics/__pycache__/
src/model/__pycache__/
src/trainer/__pycache__/
src/transforms/__pycache__/
src/utils/__pycache__/

# Виртуальное окружение
venv/