/venv_project
/dataset/__pycache__

# Игнорировать все .log файлы в папке /dataset/logs
/dataset/logs/*.log

# Игнорировать все изображения (jpg, png, jpeg и другие форматы) в папке /dataset/output_images
/dataset/output_images/*.[jJ][pP][gG]
/dataset/output_images/*.[pP][nN][gG]
/dataset/output_images/*.[jJ][pP][eE][gG]
/dataset/output_images/*.[bB][mM][pP]
/dataset/output_images/*.[tT][iI][fF][fF]

# Игнорировать все видеофайлы в папке /dataset/raw_video (например, mp4, mkv и другие форматы)
/dataset/raw_video/*.[mM][pP]4
/dataset/raw_video/*.[mM][kK][vV]
/dataset/raw_video/*.[aA][vV][iI]
/dataset/raw_video/*.[mM][oO][vV]
/dataset/raw_video/*.[wW][mM][vV]