/assets
/data
/saved
/outputs
/wandb

# PyCharm проектные файлы
.idea/

# Кэшированные файлы Python
__pycache__/

# Кэшированные файлы Python в src
src/__pycache__/
src/datasets/__pycache__/
src/logger/__pycache__/
src/loss/__pycache__/
src/metrics/__pycache__/
src/model/__pycache__/
src/trainer/__pycache__/
src/transforms/__pycache__/
src/utils/__pycache__/

# Виртуальное окружение
venv/
venv_win/

# Изображения и видео
dataset_preparation/*.jpg
dataset_preparation/*.jpeg
dataset_preparation/*.png
dataset_preparation/*.gif
dataset_preparation/*.mp4
dataset_preparation/*.mov
dataset_preparation/*.avi
dataset_preparation/*.mkv
dataset_preparation/*.webm
/dataset_preparation/SR_dataset_test
/dataset_preparation/SR_dataset_test.zip
/dataset_preparation/SR_dataset_val
/dataset_preparation/SR_dataset_val.zip

# Логи
/dataset_preparation/logs/*.log
/inference_video/logs/*.log

# Модели
/inference_video/model/*.pth

# Видео
/inference_video/input/*.mkv
/inference_video/output/*.mkv
/inference_video/input/*.mp4
/inference_video/output/*.mp4
/inference_video/output/upscaled_video_example_temp.aac
/inference_video/output/upscaled_video_example_temp.mp4

#Установочные пакеты
/cuda-keyring_1.1-1_all.deb
/torch2trt/


